/* Bevan font */
@font-face {
  font-family: Bevan;
  src: url('../assets/fonts/Bevan/Bevan-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Bevan;
  src: url('../assets/fonts/Bevan/Bevan-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

/* Oxygen font */
@font-face {
    font-family: Oxygen;
    src: url('../assets/fonts/Oxygen/Oxygen-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: Oxygen;
    src: url('../assets/fonts/Oxygen/Oxygen-Light.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: Oxygen;
    src: url('../assets/fonts/Oxygen/Oxygen-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}