---
// /src/components/Footer.astro

const year = new Date().getFullYear();
---

<footer class="bg-gray-800 text-white py-4">
  <div class="container mx-auto px-4 text-center">
    <p class="text-sm mb-2">
      <a href="/privacy-policy" class="hover:underline">Privacy Policy</a> |
      <a href="/disclaimer" class="hover:underline">Disclaimer</a>
    </p>
    <p class="text-xs mb-2">
      https://discover.healthbodybalance.org © {year} All Rights Reserved.
    </p>
    <p class="text-xs">
      <a href="https://discover.healthbodybalance.org" class="underline"
        >This site</a
      > is not a part of the Facebook website or Facebook Inc. Additionally, this
      site is NOT endorsed by Facebook in any way. FACEBOOK is a trademark of FACEBOOK,
      Inc.
    </p>
  </div>
</footer>
